$colorBlue: #000050e1;
$colorBlue-Sky: #8a8aff3d;
$colorBlueDark: #000052f6;
$colorBrown: #861400;
$colorFade: #0000009d;
$colorRed: #ce0a0a;
$colorWhite: #fff;
$colorWhite-Lite: #d4d5d659;
$colorWhite-Dark: #000000b9;
$colorYellow: #9191179a;

$textShadow: 0.75px 0.75px 1px #000000b0;

$shadow-hover: 3px 3px 15px #0000004d;
$boxShadow: 3px 3px 3px 3px  #44434310;

@mixin config(){
    border: 1px solid black;
}

@mixin backgroundConfig(){
    background: #aca9a965;
    backdrop-filter: blur(15px);
}

@mixin fontConfig($size, $style, $weight){
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    text-shadow: $textShadow;
}
img{
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    max-width: 100vw;
}
body{
    height: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul, li {
    list-style: none;
}
strong{
    color: $colorBlue-Sky;
}

::-webkit-scrollbar{
    background: transparent;
    opacity: 0;
    width: 6px;
}
::-webkit-scrollbar-track{
    background: transparent;
    opacity: 0;
    width: 6px !important;
    &:hover{
        background: $colorWhite-Lite;
    }
}
::-webkit-scrollbar-thumb{
    background: $colorWhite-Lite;
    border: 1px solid $colorBlueDark;
    border-radius: 1px;
    cursor: pointer;
    opacity: 0;
    width: 6px;
    &:hover{
        background: $colorWhite-Dark;
    }
}
.col-wide{
    grid-column: 1 / -1;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "jobs jobs jobs"
    "footer footer footer"
    ;
    .header{
        align-items: center;
        background: linear-gradient(to bottom, $colorBlue, transparent);
        display: flex;
        grid-area: header;
        justify-content: space-between;
        padding: 30px;
        .logo{
            max-width: 150px;
            min-width: auto;
        }
        .nav{
            ul{
                display: flex;
                li{
                    margin: 0 20px;
                    a{
                        @include fontConfig(1.3rem, italic, bold);
                        color: $colorWhite;
                    }
                }
            }
        }
    }
    .main{
        grid-area: main;
        grid-template-columns: repeat(2, 50%);
        border-radius: 10px;
        display: grid;
        gap: 20px;
        justify-content: center;
        margin: auto;
        max-width: 960px;
        padding: 30px;
        .title{
            @include fontConfig(3.5rem, italic, bolder);
            color: $colorBlue-Sky;
            text-decoration: underline;
            text-indent: 30px;
        }
        .intro{
            border-radius: 10px;
            box-shadow: $boxShadow;
            p{
                @include fontConfig(1.3rem, italic, bolder);
                color:  $colorWhite-Lite;
                margin: auto;
                max-width: 600px;
                padding: 30px 0;
                text-indent: 30px
            }
        }
        .subtitle{
                
            @include fontConfig(2rem, italic, bolder);
            color:  $colorBlue-Sky;
            text-indent: 30px;
        }
        .div1{       
            @include fontConfig(1.3rem, normal, normal);
            color:  $colorWhite-Lite;
            letter-spacing: 1px;
            text-align: justify;
            text-indent: 30px;
        }
        .pb{
            grid-column: 1;
        }
        .pc{
            grid-column: 1;
        }
        .pd{
            grid-column: 2;
            grid-row: 5;
        }
        .img-arpanet, .internet-connect{
            align-self: end;
            background-color:  $colorWhite-Dark;                border-radius: 5px;
            box-shadow: $boxShadow;
            margin-bottom: 20px;
            padding-bottom: 1px;
            img{
                border-radius: 5px 5px 0 0;
                width: 100%;
            }
            .figcaption{
                color: $colorWhite;
                text-indent: 10px;
            }
        }
        .div2{
                
            p{
                @include fontConfig(1.2rem, none, none);
                color:  $colorWhite-Lite;
                letter-spacing: 1px;
                text-align: justify;
                text-indent: 30px;
            }
        }
        .smartphone{
            img{
                border-radius: 5px;
                box-shadow: $boxShadow;
                width: 100%;
            }
        }
        .p1{
            @include fontConfig(1.5rem, italic, bolder);
            align-content: center;
            border-radius: 10px;
            box-shadow: $boxShadow;
            color:  $colorBlue-Sky;
            display: grid;
            padding: 10px;
            text-align: justify;
        }
        .exemples{
            @include fontConfig(1.5rem, italic, bolder);
            border-radius: 10px;
            box-shadow: $boxShadow;
            margin: auto;
            padding: 30px;
            width: 430px;
            h3{
                color: $colorBlue-Sky;
                margin-bottom: 30px;
            }
            i{
                    
                font-size: 3.5rem;
                padding: 10px;
            }
            li{
                    
                padding: 10px;
            }
            .burger{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorBrown;
                display: flex;
                margin: 30px 0;
            }
            .plane{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorWhite-Dark;
                display: flex;
                margin: 30px 0;

            }
            .locate{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorRed;
                display: flex;
                margin: 30px 0;

            }
            .cloud{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorYellow;
                display: flex;
                margin: 30px 0;

            }
            .bascket{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorRed;
                display: flex;
                margin: 30px 0;

            }
            .carrot{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: #f55236;
                display: flex;
                margin: 30px 0;
            }
            .icons{
                    
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorYellow;
                display: flex;
                margin: 30px 0;

            }
        }
        .conclusion1{
                
            @include fontConfig(1.3rem, italic, bolder);
            color:  $colorWhite-Lite;
            padding: 30px;
            text-align: center;
        }
        .conclusion2{
                
            background-image: url(../Img/wolrd-connected.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            box-shadow: $boxShadow;
            p{
                @include fontConfig(1.6rem, italic, bolder);
                background: $colorFade;
                border-radius: 10px;
                color: $colorWhite;
                line-height: 1.7rem;
                padding: 30px;
                text-indent: 30px;
            }
        }
        .p2{
                
            @include fontConfig(1.7rem, italic, bolder);
            align-items: center;
            border-radius: 10px;
            box-shadow: $boxShadow;
            color: $colorBlue-Sky;
            display: grid;
            letter-spacing: 1px;
            text-indent: 30px;
        }
        .div3{
                
            p{
                @include fontConfig(1.5rem, none, none);
                color:  $colorWhite-Lite;
                line-height: 1.7rem;
                text-indent: 30px;
            }
        }
        .teclado{
                
            border-radius: 10px;
            box-shadow: $boxShadow;
            display: grid;
            align-self: center;
            width: 100%;
        }
        
        .blockquote{
                
            border-radius: 10px;
            text-align: center;
            p{
                @include fontConfig(2rem, italic, bolder);
                padding: 30px;
            }
        }
        .mind1{
            background-attachment: fixed;
            background-image: url(../Img/web-socials.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            .a1{
                background: $colorFade;
                border-radius: 10px 10px 0 0;
                color: $colorWhite;
            }
            .a2{
                background: $colorFade;
                color: $colorWhite;
                border-radius: 0 0 10px 10px;
            }
        }
        .mind2{
            box-shadow: $boxShadow;
            color: $colorBlue-Sky
        }
        .p3, .p4, .p5{
                
            @include fontConfig(1.5rem, none, none);
            border-radius: 10px;
            box-shadow: $boxShadow;
            color:  $colorWhite-Lite;
            line-height: 1.9rem;
            margin: 30px;
        }
        .finited{
            align-items: center;
            background-image: url(../Img/tablet.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            display: grid;
            text-align: center;
            p{
                    
                @include fontConfig(2rem, italic, bolder);
                background: $colorFade;
                color: $colorWhite;
                padding: 50px;
            }
            .a3{
                border-radius: 10px 10px 0 0;
            }
            .a4{
                border-radius: 0 0 10px 10px;
            }
        }
    }
    .jobs{
        grid-area: jobs;
        margin: auto;
        max-width: 960px;
        padding: 0 20px;
        h3{
            @include fontConfig(2.5rem, italic, bolder);
            color: $colorBlue-Sky;
            padding: 30px 0;
            text-align: center;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width: auto;
            li{
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                overflow-x: hidden;
                overflow-y: hidden;
                padding: 5px;
                max-width: 16.6%;
                min-width: 100px;
                img{
                    transition: .3s ease-in-out;
                    width: 100%;
                    &:hover{
                        width: 95%;
                    }
                }
            }
        }
    }
    .footer{
        background: linear-gradient(to top, $colorWhite-Dark, transparent);
        grid-area: footer;
        height: auto;
        padding: 50px 30px 0 30px;
        text-align: center;
        width: 100%;
        .contact{
            display: flex;
            @include fontConfig(1.5rem, italic, lighter);
            justify-content: space-evenly;
            a{
                @include config();
                background: $colorWhite-Lite;
                border-radius: 5px;
                color: $colorWhite-Dark;
                padding: 6px 10px;
                // padding: 6px 10px;
                &:hover{
                    background: $colorWhite-Dark;
                    color: $colorWhite;
                }
            }
        }
        .propert{
            @include fontConfig(2rem, italic, bolder);
            a{
                color:  $colorWhite-Dark;
            }
        }
    }
}    
@media(max-width:750px){
    .container{
        display: block;
        .header{
            align-items: center;
            background: linear-gradient(to bottom, $colorBlue, transparent);
            display: flex;
            padding: 30px;
            .logo{
                max-width: 150px;
            }
            .nav{
                display: none;
            }
        }
        .main{
            width: 90%;
            .title{
                @include fontConfig(2.8rem, italic, bolder);
            }
            .intro{
                p{
                    @include fontConfig(1.3rem, italic, bolder);
                    padding: 20px 0;
                    text-indent: 0;
                }
            }
            .subtitle{
                @include fontConfig(2rem, italic, bolder);
            }
            .div1{
                @include fontConfig(1.2rem, normal, normal);
                line-height: 1.5rem;
            }
            .div-img1{
                align-items: center;
                .img-arpanet, .internet-connect{
                    padding-bottom: 10px;
                }
            }
            .div2{  
                p{
                    @include fontConfig(1rem, none, none);
                    font-size: 1.2rem;
                }
            }
            .smartphone{
                align-content: center;
                display: grid;
                img{
                    border-radius: 5px;
                    box-shadow: $boxShadow;
                    width: 100%;
                }
            }
            .p1{
                
                @include fontConfig(1.2rem, italic, bolder);

            }
            .conclusion2{
                grid-column: 1 / -1;
                p{  
                    line-height: 1.8rem;
                }
            }
            .p2{
                @include fontConfig(1.7rem, italic, bolder);
                align-items: center;
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorBlue-Sky;
                display: grid;
                letter-spacing: 1px;
                text-indent: 30px;
            }
            .div3{   
                p{
                    @include fontConfig(1.3rem, none, none);
                    text-align: justify;
                }
            }
            .teclado{
                grid-column: 1 / -1 ;
            }
            .mind1{
                background-attachment: local;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .p3, .p4, .p5{    
                @include fontConfig(1.3rem, italic, bolder);
            }
            .finited{
                background-position: right;
            }
        }
    }    
}
@media(max-width:500px){
    .container{
        display: block;
        .header{
            align-items: center;
            background: linear-gradient(to bottom, $colorBlue, transparent);
            display: flex;
            padding: 30px;
            .logo{
                max-width: 150px;
            }
            .nav{
                display: none;
            }
        }
        .main{
            display: block;
            width: 100%;
            .title{
                @include fontConfig(2.3rem, italic, bolder);
            }
            .intro{
                p{
                    @include fontConfig(1.3rem, italic, bolder);
                }
            }
            .subtitle{
                @include fontConfig(2rem, italic, bolder);
            }
            .div1{
                @include fontConfig(1.2rem, normal, normal);
                line-height: 1.5rem;
            }
            .div-img1{
                align-items: center;
                .img-arpanet, .internet-connect{
                    padding-bottom: 10px;
                }
            }
            .div2{
                p{
                    @include fontConfig(1rem, none, none);
                    font-size: 1.2rem;
                }
            }
            .smartphone{
                align-content: center;
                display: grid;
                margin: 30px 0;
                img{
                    border-radius: 5px;
                    box-shadow: $boxShadow;
                    width: 100%;
                }
            }
            .p1{
                @include fontConfig(1.2rem, italic, bolder);
            }
            .exemples{
                @include fontConfig(1.3rem, italic, bolder);
                margin: 30px 0;
                width: 100%; 
            }
            .conclusion2{
                grid-column: 1 / -1;
                margin: 30px 0;
                p{  
                    line-height: 1.8rem;
                }
            }
            .p2{
                @include fontConfig(1.7rem, italic, bolder);
                align-items: center;
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorBlue-Sky;
                display: grid;
                letter-spacing: 1px;
                margin: 30px 0;
                text-indent: 30px;
            }
            .div3{   
                p{
                    @include fontConfig(1.3rem, none, none);
                    margin: 30px 0;
                    text-align: justify;
                }
            }
            .teclado{
                display: none;
            }
            .mind1{
                background-attachment: local;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .p3, .p4, .p5{    
                @include fontConfig(1.3rem, italic, bolder);
            }
            .finited{
                background-position: right;
            }
        }
        .footer{
            padding: 20px 30px;
            .contact{
                display: flex;
                flex-direction: column;
                justify-content: center;
                a{
                    @include fontConfig(1.5rem, italic, lighter);
                    margin: 5px auto;
                    padding: 6px 10px;
                    width: 75%;
                }
            }
        }
    }    
}