$colorBlue: #000050e1;
$colorBlue-Sky: #8a8aff3d;
$colorBlueDark: #000052f6;
$colorBrown: #861400;
$colorFade: #0000009d;
$colorRed: #ce0a0a;
$colorWhite: #fff;
$colorWhite-Lite: #d4d5d659;
$colorWhite-Dark: #000000b9;
$colorYellow: #9191179a;

$textShadow: 0.75px 0.75px 1px #000000b0;

$shadow-hover: 3px 3px 15px #0000004d;
$boxShadow: 3px 3px 3px 3px  #44434310;

@mixin config(){
    border: 1px solid black;
}

@mixin backgroundConfig(){
    background: #aca9a965;
    backdrop-filter: blur(15px);
}

@mixin fontConfig($size, $style, $weight){
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    text-shadow: $textShadow;
}
img{
    max-width: 300px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    max-width: 100vw;
}
body{
    height: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul, li {
    list-style: none;
}

::-webkit-scrollbar{
    background: transparent;
    opacity: 0;
    width: 6px;
}
::-webkit-scrollbar-track{
    background: transparent;
    opacity: 0;
    width: 6px !important;
    &:hover{
        background: $colorWhite-Lite;
    }
}
::-webkit-scrollbar-thumb{
    background: $colorWhite-Lite;
    border: 1px solid $colorBlueDark;
    border-radius: 1px;
    cursor: pointer;
    opacity: 0;
    width: 6px;
    &:hover{
        background: $colorWhite-Dark;
    }
}
.col-wide{
    grid-column: 1 / -1;
}

.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section"
    "jobs jobs jobs"
    "footer footer footer"
    ;
    .header{
        align-items: center;
        background: linear-gradient(to bottom, $colorBlue, transparent);
        display: grid;
        grid-template-columns: minmax(150px, 1fr) auto auto;
        grid-area: header;
        padding: 30px;
        .logo{
            max-width: 150px;
        }
        .nav{
            ul{
                display: flex;
                li{
                    margin: 0 20px;
                    a{
                        @include fontConfig(1.3rem, italic, bold);
                        color: $colorWhite;
                        
                        
                    }
                }
            }
        }
    }
    .section{
        grid-area: section;
        grid-template-columns: 200px auto 200px;
    }
    .main{
        @include config();
        // background: $colorBlue;
        grid-column: 2;        
        grid-template-columns: repeat(2, 1fr);
        border-radius: 10px;
        display: grid;
        gap: 20px;
        margin: auto;
        max-width: 760px;
        padding: 30px;
        .title{
            @include fontConfig(3.5rem, italic, bolder);
            color: $colorBlue-Sky;
            text-decoration: underline;
        }
        .intro{
            // @include config();
            border-radius: 10px;
            box-shadow: $boxShadow;
            p{
                @include fontConfig(1.3rem, italic, bolder);
                color: $colorWhite-Lite;
                margin: auto;
                max-width: 500px;
            }
        }
        .subtitle{
            @include config();
            @include fontConfig(2rem, italic, bolder);
            color: $colorBlue-Sky;
            text-indent: 30px;
        }
        .div1{
            @include config();
            @include fontConfig(1.1rem, normal, normal);
            color: $colorBlueDark;
            text-indent: 30px;
        }
    }
    .jobs{
        grid-area: jobs;
    }
    .footer{
        grid-area: footer;
    }
}    