@import "Libs/index";


.col-wide{
    grid-column: 1 / -1;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "jobs jobs jobs"
    "footer footer footer"
    ;
    height: 100%;
    width: 100%;
    .header{
        @include boxShadow();
        align-items: center;
        background-image: url(../Img/teclado.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        grid-area: header;
        height: 100vh;
        justify-content: space-between;
        padding: 30px;
        position: relative;
        width: 100%;
        .logo{
            .logo_svg{
                display: none;
            }
            width: 350px;
            position: absolute;
            top: 48%;
            p{
                @include fontConfig(1.1rem, lighter, $colorWhite)
            }
        }
        .nav{
            bottom: 100px;
            height: 250px;
            position: absolute;
            right: 0;
            ul{
                align-items: end;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                li{ 
                    margin: 10px 40px;
                    a{
                        @include fontConfig(1.3rem, bolder, $colorWhite);
                    }
                }
            }
        }
        .menu-mobile{
            cursor: pointer;
            display: none;
            height: 35px;
            transform-origin: center;
            width: 35px;
            .line{
                background: $sabio;
                display: block;
                height: 3px;
                margin: 6px auto;
                width: 35px;
                transition: 0.5s ease-in-out;
            }
            &.active{
                :nth-child(1){
                    background: $colorRed;
                    transform: translateY(9px) rotate(225deg);
                }
                :nth-child(2){
                    width: 0;
                }
                :nth-child(3){
                    background: $colorRed;
                    transform: translateY(-9px) rotate(-225deg);
                }
            }
        }
    }
    .main{
        grid-area: main;
        grid-template-columns: repeat(2, 50%);
        border-radius: 3px;
        display: grid;
        gap: 20px;
        justify-content: center;
        margin: 45px auto;
        max-width: 1000px;
        padding: 30px;
        .div1{
            @include fontConfig(1.3rem, bolder, $blueFederal);
            align-content: start; 
            display: grid;
            grid-column: 1;
            padding:  0 10px;
            h2{
                @include fontConfig(1.8rem, bolder, $caribe);
                padding-bottom: 10px
            }
            p{
                line-height: 1.8rem;
                margin: 10px 0;
                text-align: justify;
                text-indent: 30px;
            }
        }
        .div2{
            @include fontConfig(1.3rem, bolder, $blueFederal);
            align-content: start; 
            display: grid;
            grid-column: 2;
            padding: 0 10px;
            h2{
                @include fontConfig(1.8rem, bolder, $caribe);
                padding-bottom: 10px
            }
            p{
                line-height: 1.8rem;
                margin: 10px 0;
                text-align: justify;
                text-indent: 30px;
            }
        }
        .title{
            @include fontConfig(3.5rem, bolder, $caribe);
            text-decoration: underline;
            text-indent: 30px;
        }
        .intro{
            border-radius: 3px;
            box-shadow: $boxShadow;
            p{
                @include fontConfig(1.3rem, bolder, $blueFederal);
                line-height: 1.8rem;
                margin: auto;
                max-width: 700px;
                padding: 30px 0;
                text-indent: 30px;

            }
        }
        .subtitle{
                
            @include fontConfig(2rem, bolder, $caribe);
            text-indent: 30px;
        }
        
        .p1, .p2, .p3, .p4, .p5{
            @include fontConfig(1.3rem, bolder, $blueFederal);
        }
        .p1{
            margin: auto;
        }
        .img-arpanet, .internet-connect{
            align-self: end;
            background: $wenge;
            border-radius: 3px;
            margin-bottom: 10px;
            padding-bottom: 1px;
            img{
                border-radius: 3px 3px 0 0;
                width: 100%;
            }
            .figcaption{
                color: $colorWhite;
                text-indent: 10px;
            }
        }
        .div3{       
            letter-spacing: 1px;
            margin: 10px 0;
            text-align: justify;
            text-indent: 30px;
            p{
                @include fontConfig(1.3rem, bolder, $blueFederal);
                margin: 30px auto;
                max-width: 700px;
            }
        }
        .smartphone{
            img{
                border-radius: 3px;
                width: 100%;
            }
        }
        .p6{
            @include fontConfig(1.3rem, bolder, $blueFederal);
            align-self: center;
            display: grid;
            padding: 10px;
            text-align: justify;
        }
        .exemples{
            @include fontConfig(1.5rem, bolder, $blueFederal);
            margin: auto;
            padding: 30px;
            width: 430px;
            h3{
                @include fontConfig(3rem, bolder, $caribe);
                margin-bottom: 30px;
                text-shadow: $textShadow;
            }
            i{
                font-size: 3.5rem;
                padding: 10px;
            }
            li{
                padding: 10px;
            }
            .burger{    
                @include configDisplay($colorBrown);
            }
            .plane{
                @include configDisplay($colorWhite-Dark);
            }
            .locate{
                @include configDisplay($chama);
            }
            .cloud{
                @include configDisplay($colorYellow);
            }
            .bascket{
                @include configDisplay($colorRed);
            }
            .carrot{
                @include configDisplay($chama);
            }
            .icons{
                @include configDisplay($colorYellow);
            }
        }
        .conclusion1{
                
            @include fontConfig(1.5rem, bolder, $blueFederal);
            padding: 30px;
            text-align: center;
        }
        .conclusion2{
                
            background-image: url(../Img/wolrd-connected.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 3px;
            p{
                @include fontConfig(1.6rem, bolder, $colorWhite);
                background: $colorFade;
                border-radius: 3px;
                line-height: 1.7rem;
                padding: 30px;
                text-indent: 30px;
            }
        }
        .p7{
                
            @include fontConfig(1.7rem, bolder, $blueFederal);
            align-self: center;
            border-radius: 3px;
            display: grid;
            letter-spacing: 1px;
            text-indent: 30px;
        }
        .div4{
            align-self: center;
            p{
                @include fontConfig(1.5rem, bolder, $blueFederal);
                line-height: 1.7rem;
                text-indent: 30px;
            }
        }
        .teclado{
                
            border-radius: 3px;
            display: grid;
            align-self: center;
            width: 100%;
        }
        
        .blockquote{
            border-radius: 3px;
            text-align: center;
            p{
                @include fontConfig(2rem, bolder, $blueFederal);
                padding: 30px;
            }
        }
        .mind1{
            background-attachment: fixed;
            background-image: url(../Img/web-socials.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 3px;
            .p8{
                background: $colorFade;
                border-radius: 3px 3px 0 0;
                color: $colorWhite;
            }
            .p9{
                background: $colorFade;
                color: $colorWhite;
                border-radius: 0 0 3px 3px;
            }
        }
        .p10{
            @include fontConfig(1.3rem, bolder, $blueFederal);
            margin: auto;
            max-width: 700px;
        }
        .mind2{
            :nth-child(2){
                color: $caribe;
            }
        }
        .p12, .p13{
                
            @include fontConfig(1.5rem, bolder, $blueFederal);
            border-radius: 3px;
            line-height: 1.9rem;
            margin: 30px;
        }
        .finited{
            align-items: center;
            background-image: url(../Img/tablet.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 3px;
            display: grid;
            text-align: center;
            p{
                @include fontConfig(2rem, bolder, $colorWhite);
                background: $colorFade;
                padding: 50px;
            }
            .a3{
                border-radius: 3px 3px 0 0;
            }
            .a4{
                border-radius: 0 0 3px 3px;
            }
        }
    }
    .jobs{
        grid-area: jobs;
        margin: auto;
        max-width: 100%;
        h3{
            @include fontConfig(2.5rem, bolder, $caribe);
            padding: 30px 0;
            text-align: center;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;
            li{
                margin: 0 auto;
                // overflow: hidden;
                padding: 5px;         
                .imobi{
                    height: 250px;
                    width: 140px;
                    background-size: cover;
                    background-image: url(../Img/site-imobiliaria.jpg);
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                .food-site{
                    height: 250px;
                    width: 140px;
                    background-size: cover;
                    background-image: url(../Img/site-lanches.jpg);
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                .projeto-android{
                    height: 250px;
                    width: 140px;
                    background-size: cover;
                    background-image: url(../Img/site-android.jpg);
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                .galeria{
                    height: 250px;
                    width: 140px;
                    background-size: cover;
                    background-image: url(../Img/site-galeria.jpg);
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                .store-master{
                    height: 250px;
                    width: 140px;
                    background-size: cover;
                    background-image: url(../Img/store-master.jpg);
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                .wildbeast{
                    height: 250px;
                    width: 140px;
                    background-size: cover;
                    background-image: url(../Img/wildbeast.jpg);
                    a{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
                &:hover{
                    .imobi{
                        transform: scale(1.5);
                    }
                    .food-site{
                        transform: scale(1.5);
                    }
                    .projeto-android{
                        transform: scale(1.5);
                    }
                    .galeria{
                        transform: scale(1.5);
                    }
                    .store-master{
                        transform: scale(1.5);
                    }
                    .wildbeast{
                        transform: scale(1.5);
                    }
                } 
            }
        }
    }
    .footer{
        border-top: 5px solid $colorWhite-Dark;box-shadow: inset 0 50px 50px 0 $colorWhite-Dark;
        grid-area: footer;
        height: auto;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        .contact{
            display: flex;
            justify-content: center;
            a{
                // @include fontConfig(2rem, bolder, $caribe);
                // padding: 3px 6px;
                // &:hover{
                //     color: $colorWhite;
                //     text-decoration: underline;
                // }
                img{
                    padding: 0 10px;
                    width: 70px;
                }
            }
        }
        .propert{
            a{
                @include fontConfig(2rem, bolder, $colorWhite-Dark);
            }
        }
    }
}    
@media(max-width:750px){
    .container{
        display: block;
        .header{
            align-items: center;
            background: linear-gradient(to bottom, $colorBlue, transparent);
            display: flex;
            height: auto;
            padding: 30px;
            .logo{
                max-width: 150px;
            }
            .nav{
                display: none;
            }
        }
        .main{
            width: 90%;
            .title{
                @include fontConfig(2.8rem, bolder, $colorGreen);
            }
            .intro{
                p{
                    @include fontConfig(1.3rem, bolder, $colorGreen);
                    padding: 20px 0;
                    text-indent: 0;
                }
            }
            .subtitle{
                @include fontConfig(2rem, bolder, $colorGreen);
            }
            .div1{
                @include fontConfig(1.2rem, normal, $colorGreen);
                line-height: 1.5rem;
            }
            .div-img1{
                align-items: center;
                .img-arpanet, .internet-connect{
                    padding-bottom: 10px;
                }
            }
            .div2{  
                p{
                    @include fontConfig(1rem, none, $colorGreen);
                    font-size: 1.2rem;
                }
            }
            .smartphone{
                align-content: center;
                display: grid;
                img{
                    border-radius: 5px;
                    box-shadow: $boxShadow;
                    width: 100%;
                }
            }
            .p1{
                
                @include fontConfig(1.2rem, bolder, $colorGreen);

            }
            .conclusion2{
                grid-column: 1 / -1;
                p{  
                    line-height: 1.8rem;
                }
            }
            .p2{
                @include fontConfig(1.7rem, bolder, $colorGreen);
                align-items: center;
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorBlue-Sky;
                display: grid;
                letter-spacing: 1px;
                text-indent: 30px;
            }
            .div3{   
                p{
                    @include fontConfig(1.3rem, none, $colorGreen);
                    text-align: justify;
                }
            }
            .teclado{
                grid-column: 1 / -1 ;
            }
            .mind1{
                background-attachment: local;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .p3, .p4, .p5{    
                @include fontConfig(1.3rem, bolder, $colorGreen);
            }
            .finited{
                background-position: right;
            }
        }
    }    
}
@media(max-width:500px){
    .container{
        display: block;
        .header{
            align-items: center;
            background: linear-gradient(to bottom, $colorBlue, transparent);
            display: flex;
            padding: 30px;
            .logo{
                max-width: 150px;
            }
            .nav{
                display: none;
            }
        }
        .main{
            display: block;
            width: 100%;
            .title{
                @include fontConfig(2.3rem, bolder, $colorGreen);
            }
            .intro{
                p{
                    @include fontConfig(1.3rem, bolder, $colorGreen);
                }
            }
            .subtitle{
                @include fontConfig(2rem, bolder, $colorGreen);
            }
            .div1{
                @include fontConfig(1.2rem, normal, $colorGreen);
                line-height: 1.5rem;
            }
            .div-img1{
                align-items: center;
                .img-arpanet, .internet-connect{
                    padding-bottom: 10px;
                }
            }
            .div2{
                p{
                    @include fontConfig(1rem, none, $colorGreen);
                    font-size: 1.2rem;
                }
            }
            .smartphone{
                align-content: center;
                display: grid;
                margin: 30px 0;
                img{
                    border-radius: 5px;
                    box-shadow: $boxShadow;
                    width: 100%;
                }
            }
            .p1{
                @include fontConfig(1.2rem, bolder, $colorGreen);
            }
            .exemples{
                @include fontConfig(1.3rem, bolder, $colorGreen);
                margin: 30px 0;
                width: 100%; 
            }
            .conclusion2{
                grid-column: 1 / -1;
                margin: 30px 0;
                p{  
                    line-height: 1.8rem;
                }
            }
            .p2{
                @include fontConfig(1.7rem, bolder, $colorGreen);
                align-items: center;
                border-radius: 10px;
                box-shadow: $boxShadow;
                color: $colorBlue-Sky;
                display: grid;
                letter-spacing: 1px;
                margin: 30px 0;
                text-indent: 30px;
            }
            .div3{   
                p{
                    @include fontConfig(1.3rem, none, $colorGreen);
                    margin: 30px 0;
                    text-align: justify;
                }
            }
            .teclado{
                display: none;
            }
            .mind1{
                background-attachment: local;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .p3, .p4, .p5{    
                @include fontConfig(1.3rem, bolder, $colorGreen);
            }
            .finited{
                background-position: right;
            }
        }
        .footer{
            padding: 20px 30px;
            .contact{
                display: flex;
                flex-direction: column;
                justify-content: center;
                a{
                    @include fontConfig(1.5rem, lighter, $colorGreen);
                    margin: 5px auto;
                    padding: 6px 10px;
                    width: 75%;
                }
            }
        }
    }    
}