* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  max-width: 100vw;
}

body {
  background: rgba(138, 138, 255, 0.2392156863);
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  opacity: 0;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: 0.75px solid rgba(150, 149, 149, 0.3647058824);
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 149, 149, 0.3647058824);
  border: none;
}

.col-wide {
  grid-column: 1/-1;
}

.container {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) auto minmax(70px, 1fr);
  grid-template-areas: "header header header" ". main ." "jobs jobs jobs" "footer footer footer";
  width: 100%;
}
.container .header {
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 80, 0.8823529412), transparent);
  display: grid;
  grid-template-columns: minmax(150px, 1fr) auto auto;
  grid-area: header;
  padding: 30px;
}
.container .header .logo {
  max-width: 150px;
}
.container .header .nav ul {
  display: flex;
}
.container .header .nav ul li {
  margin: 0 30px;
}
.container .header .nav ul li a {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  color: #fff;
}
.container .main {
  display: grid;
  gap: 30px;
  grid-area: main;
  grid-template-columns: repeat(2, 50%);
  margin: 0 auto;
  width: 900px;
  padding: 30px;
}
.container .main .title-site {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  color: rgba(138, 138, 255, 0.2392156863);
  text-decoration: underline;
}
.container .main .intro {
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(68, 67, 67, 0.062745098);
  padding: 30px;
  text-indent: 30px;
}
.container .main .intro p {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  background: rgba(212, 213, 214, 0.3490196078);
  border-radius: 10px;
  color: rgba(212, 213, 214, 0.3490196078);
  letter-spacing: 1.5px;
  padding: 30px;
  text-align: center;
}
.container .main .subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  color: rgba(138, 138, 255, 0.2392156863);
  padding: 30px;
}
.container .main .div1 {
  grid-column: 1;
  grid-row: 4/5;
}
.container .main .div1 p {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  color: rgba(212, 213, 214, 0.3490196078);
  letter-spacing: 1.3px;
  line-height: 1.7rem;
  text-indent: 30px;
}
.container .main .div1 p + p {
  padding-top: 10px;
}
.container .main .div-img1 {
  display: grid;
  gap: 30px;
}
.container .main .div-img1 .img1, .container .main .div-img1 .img2 {
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(68, 67, 67, 0.062745098);
  padding: 20px;
}
.container .main .div-img1 .img1 .figcaption, .container .main .div-img1 .img2 .figcaption {
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  color: rgba(138, 138, 255, 0.2392156863);
}
.container .main .div-img1 .img1 img, .container .main .div-img1 .img2 img {
  border-radius: 5px;
}
.container .main .div2 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
}
.container .main .img3 {
  grid-column: 1;
}
.container .main .p1 {
  border: 1px solid black;
  align-items: center;
  display: flex;
  padding: 30px;
}
.container .main .exemples {
  border: 1px solid black;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  padding: 30px;
  text-align: center;
}
.container .main .exemples h3 {
  color: #fff;
  margin-bottom: 30px;
}
.container .main .exemples i {
  border: 1px solid black;
  font-size: 3.5rem;
}
.container .main .exemples i .fa-burger {
  color: #fff;
}
.container .main .exemples li {
  border: 1px solid black;
  color: #fff;
  margin: 30px 0;
}
.container .jobs {
  grid-area: jobs;
  overflow-x: auto;
  padding: 30px;
}
.container .jobs ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container .jobs ul li {
  padding: 30px;
}
.container .jobs ul li img {
  width: 100%;
}
.container .footer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7254901961), transparent);
  grid-area: footer;
  height: auto;
  padding: 50px 30px 0 30px;
  text-align: center;
  width: 100%;
}
.container .footer .contact {
  display: flex;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
  justify-content: space-evenly;
}
.container .footer .contact a {
  color: #fff;
}
.container .footer .propert {
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6901960784);
}
.container .footer .propert a {
  color: rgba(212, 213, 214, 0.3490196078);
}

/*# sourceMappingURL=Style.css.map */
