* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
}

html {
  height: 100vh;
  max-width: 100vw;
}

body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  color: #0F7173;
  font-style: italic;
  font-weight: bolder;
  text-indent: 30px;
  text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
  font-size: 3.3rem;
}
@media screen and (max-width: 840px) {
  h1 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  color: #0F7173;
  font-style: italic;
  font-weight: bolder;
  text-indent: 30px;
  text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
  font-size: 2rem;
}
@media screen and (max-width: 840px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1rem;
  }
}

p {
  color: #525064;
  font-style: italic;
  font-weight: bolder;
  text-indent: 30px;
  text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
  font-size: 1.3rem;
}
@media screen and (max-width: 840px) {
  p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 736px) {
  p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 1rem;
    text-shadow: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0F7173;
  border: 1px solid #0F7173;
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525064;
}

.col-wide {
  grid-column: 1/-1;
}

@media screen and (max-width: 2000px) {
  .container {
    display: grid;
    grid-template-areas: "header header header" "main main main" "jobs jobs jobs" "footer footer footer";
    height: 100%;
    width: 100%;
  }
  .container .header {
    box-shadow: 0px 20px 54px 0 rgba(87, 87, 87, 0.3215686275);
    align-items: center;
    background-image: url(../Img/teclado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    grid-area: header;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  @media screen and (max-width: 840px) {
    .container .header {
      background: #0F7173;
      height: 130px;
    }
    .container .header .logo {
      display: block;
      top: 15px;
      width: 200px;
    }
    .container .header .logo .logo_png {
      width: 150px;
    }
    .container .header .logo p {
      text-indent: 0;
    }
    .container .header .menu-mobile {
      display: block;
      position: absolute;
      right: 35px;
    }
    .container .header .menu-mobile .line {
      background: #fff;
    }
    .container .header .nav {
      display: none;
    }
  }
  @media screen and (max-width: 736px) {
    .container .header {
      height: 130px;
    }
  }
  @media screen and (max-width: 480px) {
    .container .header {
      height: 130px;
    }
  }
  .container .header .logo {
    left: 40px;
    position: absolute;
    top: 48%;
    width: 350px;
  }
  @media screen and (max-width: 840px) {
    .container .header .logo {
      display: block;
    }
  }
  @media screen and (max-width: 736px) {
    .container .header .logo {
      display: block;
    }
  }
  @media screen and (max-width: 480px) {
    .container .header .logo {
      display: block;
      top: 15px;
      width: 200px;
    }
  }
  .container .header .logo p {
    color: #fff;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
    font-size: 1.25rem;
    text-shadow: none;
  }
  @media screen and (max-width: 840px) {
    .container .header .logo p {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 736px) {
    .container .header .logo p {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 480px) {
    .container .header .logo p {
      font-size: 0.75rem;
    }
  }
  .container .header .nav {
    bottom: 100px;
    height: 250px;
    position: absolute;
    right: 0;
  }
  .container .header .nav ul {
    align-items: end;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .container .header .nav ul li {
    margin: 10px 40px;
  }
  .container .header .nav ul li a {
    color: #fff;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
    font-size: 1.3rem;
  }
  .container .header .menu-mobile {
    cursor: pointer;
    display: none;
    height: 35px;
    transform-origin: center;
    width: 35px;
  }
  .container .header .menu-mobile .line {
    background: rgba(172, 168, 133, 0.4431372549);
    display: block;
    height: 3px;
    margin: 6px auto;
    width: 35px;
    transition: 0.5s ease-in-out;
  }
  .container .header .menu-mobile:hover :nth-child(1) {
    background: #ce0a0a;
    transform: translateY(9px) rotate(225deg);
  }
  .container .header .menu-mobile:hover :nth-child(2) {
    width: 0;
  }
  .container .header .menu-mobile:hover :nth-child(3) {
    background: #ce0a0a;
    transform: translateY(-9px) rotate(-225deg);
  }
  .container .main {
    grid-area: main;
    grid-template-columns: repeat(2, 50%);
    border-radius: 3px;
    display: grid;
    gap: 20px;
    justify-content: center;
    margin: 45px auto;
    max-width: 1000px;
    padding: 30px;
  }
  .container .main .div1 {
    align-content: start;
    display: grid;
    grid-column: 1;
    padding: 0 10px;
  }
  .container .main .div1 h2 {
    padding-bottom: 10px;
  }
  .container .main .div1 p {
    line-height: 1.8rem;
    margin: 10px 0;
    text-align: justify;
    text-indent: 30px;
  }
  .container .main .div2 {
    align-content: start;
    display: grid;
    grid-column: 2;
    padding: 0 10px;
  }
  .container .main .div2 h2 {
    padding-bottom: 10px;
  }
  .container .main .div2 p {
    line-height: 1.8rem;
    margin: 10px 0;
    text-align: justify;
    text-indent: 30px;
  }
  .container .main .title {
    text-decoration: underline;
    text-indent: 30px;
  }
  .container .main .intro {
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px rgba(172, 168, 133, 0.4431372549);
  }
  .container .main .intro p {
    line-height: 1.8rem;
    margin: auto;
    max-width: 700px;
    padding: 30px 0;
    text-indent: 30px;
  }
  .container .main .subtitle {
    text-indent: 30px;
  }
  .container .main .p1 {
    margin: auto;
  }
  .container .main .img-arpanet, .container .main .internet-connect {
    align-self: end;
    background: #63595c;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-bottom: 1px;
  }
  .container .main .img-arpanet img, .container .main .internet-connect img {
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
  .container .main .img-arpanet .figcaption, .container .main .internet-connect .figcaption {
    color: #fff;
    text-indent: 10px;
  }
  .container .main .div3 {
    letter-spacing: 1px;
    margin: 10px 0;
    text-align: justify;
    text-indent: 30px;
  }
  .container .main .div3 p {
    margin: 30px auto;
    max-width: 700px;
  }
  .container .main .smartphone img {
    border-radius: 3px;
    width: 100%;
  }
  .container .main .p6 {
    align-self: center;
    display: grid;
    padding: 10px;
    text-align: justify;
  }
  .container .main .exemples {
    margin: auto;
    width: 600px;
  }
  .container .main .exemples h2 {
    margin-bottom: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
  }
  .container .main .exemples li {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .container .main .exemples li img {
    width: 70px;
  }
  .container .main .exemples .burger {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .exemples .plane {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .exemples .locate {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .exemples .cloud {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .exemples .team {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .exemples .carrot {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .exemples .icons {
    border-radius: 3px;
    margin: 30px 0;
    width: 100%;
  }
  .container .main .conclusion1 {
    padding: 30px;
    text-align: center;
  }
  .container .main .conclusion2 {
    background-image: url(../Img/wolrd-connected.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
  }
  .container .main .conclusion2 p {
    color: 1.6rem;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
    background: rgba(0, 0, 0, 0.4666666667);
    border-radius: 3px;
    line-height: 1.7rem;
    padding: 30px;
    text-indent: 30px;
  }
  .container .main .p7 {
    color: 1.7rem;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
    align-self: center;
    border-radius: 3px;
    display: grid;
    letter-spacing: 1px;
    text-indent: 30px;
  }
  .container .main .div4 {
    align-self: center;
  }
  .container .main .div4 p {
    color: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
    line-height: 1.7rem;
    text-indent: 30px;
  }
  .container .main .teclado {
    border-radius: 3px;
    display: grid;
    align-self: center;
    width: 100%;
  }
  .container .main .blockquote {
    border-radius: 3px;
    text-align: center;
  }
  .container .main .blockquote p {
    color: 2rem;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
    padding: 30px;
  }
  .container .main .mind1 {
    background-attachment: fixed;
    background-image: url(../Img/web-socials.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
  }
  .container .main .mind1 .p8 {
    background: rgba(0, 0, 0, 0.4666666667);
    border-radius: 3px 3px 0 0;
    color: #fff;
  }
  .container .main .mind1 .p9 {
    background: rgba(0, 0, 0, 0.4666666667);
    color: #fff;
    border-radius: 0 0 3px 3px;
  }
  .container .main .p10 {
    margin: auto;
    max-width: 700px;
  }
  .container .main .mind2 :nth-child(2) {
    color: #0F7173;
  }
  .container .main .p12, .container .main .p13 {
    border-radius: 3px;
    line-height: 1.9rem;
    margin: 30px;
  }
  .container .main .finited {
    align-items: center;
    background-image: url(../Img/tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: grid;
    text-align: center;
  }
  .container .main .finited p {
    background: rgba(0, 0, 0, 0.4666666667);
    padding: 50px;
  }
  .container .main .finited .a3 {
    border-radius: 3px 3px 0 0;
  }
  .container .main .finited .a4 {
    border-radius: 0 0 3px 3px;
  }
  .container .jobs {
    grid-area: jobs;
    margin: auto;
    max-width: 100%;
  }
  .container .jobs h2 {
    padding: 30px 0;
    text-align: center;
  }
  .container .jobs ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }
  .container .jobs ul li {
    margin: 0 auto;
    padding: 5px;
  }
  .container .jobs ul li .imobi {
    height: 250px;
    width: 140px;
    background-size: cover;
    background-image: url(../Img/site-imobiliaria.jpg);
  }
  .container .jobs ul li .imobi a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .container .jobs ul li .food-site {
    height: 250px;
    width: 140px;
    background-size: cover;
    background-image: url(../Img/site-lanches.jpg);
  }
  .container .jobs ul li .food-site a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .container .jobs ul li .projeto-android {
    height: 250px;
    width: 140px;
    background-size: cover;
    background-image: url(../Img/site-android.jpg);
  }
  .container .jobs ul li .projeto-android a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .container .jobs ul li .galeria {
    height: 250px;
    width: 140px;
    background-size: cover;
    background-image: url(../Img/site-galeria.jpg);
  }
  .container .jobs ul li .galeria a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .container .jobs ul li .store-master {
    height: 250px;
    width: 140px;
    background-size: cover;
    background-image: url(../Img/store-master.jpg);
  }
  .container .jobs ul li .store-master a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .container .jobs ul li .wildbeast {
    height: 250px;
    width: 140px;
    background-size: cover;
    background-image: url(../Img/wildbeast.jpg);
  }
  .container .jobs ul li .wildbeast a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .container .jobs ul li:hover .imobi {
    transform: scale(1.5);
  }
  .container .jobs ul li:hover .food-site {
    transform: scale(1.5);
  }
  .container .jobs ul li:hover .projeto-android {
    transform: scale(1.5);
  }
  .container .jobs ul li:hover .galeria {
    transform: scale(1.5);
  }
  .container .jobs ul li:hover .store-master {
    transform: scale(1.5);
  }
  .container .jobs ul li:hover .wildbeast {
    transform: scale(1.5);
  }
  .container .footer {
    background: linear-gradient(to bottom, #0F7173, transparent);
    grid-area: footer;
    height: auto;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .container .footer .contact {
    display: flex;
    justify-content: center;
  }
  .container .footer .contact a img {
    padding: 0 10px;
    width: 70px;
  }
  .container .footer .propert a {
    color: 2rem;
    font-style: italic;
    font-weight: bolder;
    text-indent: 30px;
    text-shadow: 0.75px 0.75px 1px rgba(0, 0, 0, 0.6901960784);
  }
}

/*# sourceMappingURL=Style.css.map */
